body {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #242424;
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
